.Wrap {
    width: 30%;
    height: 652px;
    overflow-y: scroll;
}

.Wrap table {
    width: 100%;
    border-collapse: collapse;

}

.Wrap table td {
    border: 1px solid #E7EBF0;
    padding: 5px 10px;
}

.Wrap table th {
    padding-bottom: 10px;
}

@media (max-width: 730px) {
    .Wrap {
        width: 90%;
        height: auto;
        margin-top: 30px;
    }
}
